markdown/_output
markdown/*.tex
markdown/*.html
markdown/_svgs
markdown/_svgs/*
markdown/tikz-cache
markdown/tikz-cache/*
markdown/site_libs
markdown/site_libs/*

*.pdf
*.DS_Store

.Rhistory

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.fls
*.fdb_latexmk
*.bbl
*.blg
*-blx.bib
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.run.xml
*.synctex.gz
.Rproj.user

/.quarto/
**/*.quarto_ipynb
