/*-- scss:functions --*/


/*-- scss:defaults --*/
$h1-font-size: 1.65rem;
$h2-font-size: 1.30rem;
$h3-font-size: 1.15rem;

// $font-family-sans-serif: serif;


/*-- scss:rules --*/

// Custom title banner

#title-block-header {
  --s: 104px; /* control the size*/
  --c1: #f6edb3;
  --c2: #9cceb5;
  --c3: #53b6b2;

  --_l:#0000 calc(25%/3),var(--c1) 0 25%,#0000 0;
  --_g:conic-gradient(from 120deg at 50% 87.5%,var(--c1) 120deg,#0000 0);
  background:
    var(--_g),var(--_g) 0 calc(var(--s)/2),
    conic-gradient(from 180deg at 75%,var(--c2) 60deg,#0000 0),
    conic-gradient(from 60deg at 75% 75%,var(--c1) 0 60deg,#0000 0),
    linear-gradient(150deg,var(--_l)) 0 calc(var(--s)/2),
    conic-gradient(at 25% 25%,#0000 50%,var(--c2) 0 240deg,var(--c1) 0 300deg,var(--c2) 0),
    linear-gradient(-150deg,var(--_l)) var(--c3);
  background-size: calc(0.866*var(--s)) var(--s);
}

.quarto-title-banner {
  background: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.quarto-title,
.quarto-title-meta {
  padding: 0.5em 1em;
}

.quarto-title {
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;

  h1 {
    padding-top: 0.5em;
    border-bottom: none;
  }
}

.quarto-title-meta {
  .quarto-title-meta-heading {
    margin-top: 0 !important;
  }
  .quarto-title-meta-contents {
    font-size: $h3-font-size !important;
  }
}

.quarto-light {
  .quarto-title,
  .quarto-title-meta
   {
    background: rgba(255, 255, 255, 0.5);
  }

  .quarto-title h1 {
    color: #222;
  }
}

.quarto-dark {
  #title-block-header {
    --c3: #f6edb3;
    --c2: #9cceb5;
    --c1: #53b6b2;
  }

  .quarto-title,
  .quarto-title-meta
   {
    background: rgba(000, 000, 000, 0.5);
  }

  .quarto-title h1 {
    color: #fff;
  }
}

// General things

.content {
  text-align: justify;
}

h1 {
  border-bottom: 1px solid hsl(0,0%,87%);
  padding-bottom: .5rem;
}

h2, h3 {
  border-bottom: none;
}

blockquote {
  padding-top: 0;
  padding-bottom: 0;
}


// KaTeX

// .katex {
//   font-size: 0.95em !important;
// }

// Rendered TikZ images
.img-fluid {
  zoom: 175%;
}
