@font-face {
	font-family: 'Crimson Pro';
	src: url('CrimsonPro-Italic-VariableFont_wght.ttf') format('truetype');
	font-style: italic;
}

@font-face {
	font-family: 'Crimson Pro';
	src: url('CrimsonPro-VariableFont_wght.ttf') format('truetype');
	font-style: normal;
}
