@font-face {
	font-family:'Inria Serif';
	src: 	url('InriaSerif-Light.woff2') format('woff2'),
			 	url('InriaSerif-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family:'Inria Serif';
	src:	url('InriaSerif-LightItalic.woff2') format('woff2'),
				url('InriaSerif-LightItalic.woff') format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family:'Inria Serif';
	src:	url('InriaSerif-Italic.woff2') format('woff2'),
				url('InriaSerif-Italic.woff') format('woff');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family:'Inria Serif';
	src:	url('InriaSerif-Regular.woff2') format('woff2'),
				url('InriaSerif-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family:'Inria Serif';
	src:	url('InriaSerif-Bold.woff2') format('woff2'),
				url('InriaSerif-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family:'Inria Serif';
	src:	url('InriaSerif-BoldItalic.woff2') format('woff2'),
				url('InriaSerif-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
}
